*/bin/*
bin/

*.class

*banner.txt
*README-backup.md
/.fleet/

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/*
target/

# Gradle
.gradle/